        body {
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;
            background: url(../img/evilcrss.gif);
            background-repeat: no-repeat;
            background-size: cover;
            color: #fff;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
            position: relative;
        }

        img{
            width: 300px;
            height: auto;
        }

        .dialogue-box {
            position: absolute;
            bottom: 20%;
            left: 50%;
            transform: translateX(-50%);
            background-color: rgba(0, 0, 0, 0.8);
            padding: 15px;
            border-radius: 10px;
            width: 80%;
            text-align: center;
            cursor: pointer;
        }
        .image-container {
            position: absolute;
            top: 20%;
            left: 50%;
            transform: translateX(-50%);
            display: flex;
            justify-content: center;
            align-items: center;
        }
        @font-face {
            font-family: Zombie Holocaust;
            src: url(../fonts/zombie-holocaust.regular.ttf);
        }
        
        .button {
            padding: none;
            margin: 5px;
            font-family: 'Zombie Holocaust', sans-serif;
            text-shadow: 0 0 4px green;
            font-weight: 100;
            font-size: 1.5em;
            letter-spacing: 1px;
            display: inline;
            color: #fff;
            background: none;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            text-decoration: none;

        }
        .button:hover {
            background-color: #0056b3;
        }
        .options {
            display: none;
            flex-direction: column;
            align-items: center;
        }
        .option {
            position: relative;
            margin: 10px;
            padding: 10px 20px;
            font-size: 1em;
            color: #fff;
            background-color: #007bff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
        .option:hover {
            background-color: #0056b3;
        }
        .tooltip {
            display: none;
            position: absolute;
            top: -30px;
            left: 50%;
            transform: translateX(-50%);
            background-color: #222;
            color: #fff;
            padding: 5px 10px;
            border-radius: 5px;
            font-size: 0.9em;
            white-space: nowrap;
        }
        .option:hover .tooltip {
            display: block;
        }