body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url(../img/shatteredcover.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: relative;
}
.dialogue-box {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.8);
    padding: 15px;
    border-radius: 10px;
    width: 80%;
    text-align: center;
    cursor: pointer;
    z-index: 1;
}
#hammer{
    background: none;
    left: 5px;
    
    img{
        height: 50px;
        width: 50px;
    }
}

#bullets{
    background: none;
    left: 15px;
    bottom: 50px;
    
    img{
        height: 50px;
        width: 50px;
    }
}

#lamp{
    background: none;
    right: 100px;
     bottom: 97px;
     img{
        height: 60px;
        width: auto;
     }
}

#dragonsbane{
    background: none;
    right: 500px;
    top: 15px;
    img{
        width: 40px;
        height: auto;
    }
}

@font-face {
    font-family: Zombie Holocaust;
    src: url(../fonts/zombie-holocaust.regular.ttf);
}

.button {
    padding: 10px 20px;
    margin: 10px;
    font-family: 'Zombie Holocaust', sans-serif;
    text-shadow: 0 0 4px green;
    font-weight: lighter;
    font-size: 3em;
    color: #fff;
    background: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}
.button:hover {
    background-color: #0056b3;
}
.item {
    position: absolute;
    padding: 10px;
    background-color: #e67e22;
    border-radius: 5px;
    cursor: pointer;
}
.inventory {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    width: 200px;
}